.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.opcoes {
    display: flex;
    align-items: center;
    width: 100%;
}

.btn {
    padding: 1.5rem;
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    border: 1px solid black;
    cursor: pointer;
}

.btn_selected {
    padding: 1.5rem;
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    border: 1px solid black;
    background-color: rgb(40, 40, 40);
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}

.barra_gerenciamento {
    width: 93vw;
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra_pesquisa {
    width: 70rem;
}

.lista_parceiros {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.liImagem {
    width: 130px;
}

.liTextoLargo {
    width: 250px;
}

.imagemItem {
    height: 5rem;
}

/* Telas entre celular e desktop */
@media (max-width: 1050px) {
 
    .imagemItem {
        height: 4rem;
    }

    .liImagem {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100px;
    }
    
    .liTextoLargo {
        width: 140px;
    }   
}

/* Celular */
@media (max-width: 600px) {

    .barra_gerenciamento {
        width: 93vw;
        margin: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .liImagem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100px;
    }

    .liTextoLargo {
        width: 100px;
    }

    .btnCadastro {
        width: 93vw;
    }

}