.card {
    width: 95%;
    height: 7.5rem;
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    border-radius: 10px;
}

.uul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
}

.uul li {
    font-size: 1rem;
}

hr {
    width: 5%;
   transform: rotate(90deg);
}

@media (max-width: 600px) {
    .card {
        height: 16rem;
    }
    .uul {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .uul li {
        margin-top: 20px;
    }

    hr {
        display: none;
    }
}