.card {
    width: 95%;
    height: 6rem;
    background-color: '#EDFFFA';
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid;
    font-weight: bold;
}

.uul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(40,40,40);
}

.uul li {
    font-size: 1rem;
}

hr {

    width: 3rem;
    height: 1px solid;
    transform: rotate(90deg);
}

@media (max-width: 600px) {
    .card {
        height: 16rem;
    }
    .uul {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .uul li {
        margin-top: 30px;
        min-width: 100px;
    }

    hr {
        display: none;
    }
}