.card {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: #EDFFFA;
    cursor: pointer;
    border: 1px solid #2D2D33;
    /* background-color: #2932BB; */
}