.card {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: #EDFFFA;
    cursor: pointer;
    border: 1px solid #2D2D33;
}

@media (max-width: 1001px) {
    .card {
        width: 80%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        margin-bottom: 10px;
        color: #EDFFFA;
        cursor: pointer;
        border: 1px solid #2D2D33;
        /* background-color: #2932BB; */
    }    
}