.card {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: #EDFFFA;
    cursor: pointer;
    border: 1px solid #2D2D33;
}

@media (max-width: 1001px) {
    .card {
        width: 80%;
        justify-self: center;
        margin-bottom: 10px;
        cursor: pointer;
        }    
}