.noBold {
    font-weight: normal;
}

.labelData {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 4px;
    display: block;
}
/* Responsividade para o filtro */
.filtroContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    min-width: 0;
    height: 100%;
    padding: 8px;
    gap: 12px;
    border-right: 1px solid #000000a2;
    background: #fff;
}

.cardPaginas {
    width: 80%;
}

@media (max-width: 600px) {
    .filtroContent {
        max-width: 100vw;
        border-right: none;
        border-bottom: 1px solid #000000a2;
    }
}