.emptyCard {
    background-color: #2932BB;
    width: 100vw;
    height: 10vh;
}

.card {
    background-color: #2932BB;
    width: 100vw;
    height: 10vh;
    display: flex;
}

.link {
    text-decoration: none;
    color: #EDFFFA;
    font-size: large;
    border-radius: 15px;
    padding: 8px;
}

.link:hover {
    animation: destaque 0.5s;
    background-color: rgba(0, 0, 0, 0.3);
}

.divLinks {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divBurger {
    display: none;
}

@keyframes destaque {
    from {background-color: transparent;}
    to {background-color: rgba(0, 0, 0, 0.3);}
}

@media (max-width: 600px) {
    .card {
        flex-direction: row-reverse;
    }
    .divBurger {
        display: flex;
    }
    .divLinks {
        display: none;
    }
}