.base {
    padding: 0;
    background-color: #f1f0f0;
}

.box {
    padding-top: 40px;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popUp {
    position: absolute;
}

@media (max-width: 600px) {

    .input {
        width: 90%;
        min-width: 180px;
    }

    .divBotao {
        width: 90%;
        min-width: 180px;
    }

    .botao {
        width: 100%;
    }

    .box {
        padding-top: 40px;
        width: 70vw;
        height: 50vh;
    }


}

@media (min-width: 600px) {
    .divBotao {
        width: 20%;
        min-width: 180px;
        padding-bottom: 0%;
    }

    .botao {
        width: 100%;
    }
    
    .input {
        width: 40%;
        min-width: 400px;
        padding-bottom: 3%;
    }
}


.content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    height: 90vh;
}

.indicator {
    font-size: large;
}

.linkSenha {
  color: #666;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.2s ease-in-out;
  padding-top: 1%;
}

.linkSenha:hover {
    color: #111;
  text-decoration: underline;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 1rem;
}