.sectionDash {
    display: flex;
    width: 100%;
    height: 92.4vh;
}

.containerDash {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.conteudoDash {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.conteudoGraficos {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.graficoVenda {
    display: flex;
    width: 100%;
    /* width: 70%; */
    height: 100%;
    justify-content: center;
    align-items: center;
}

.kpiVenda {
    width: 30%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1001px) {
    .sectionDash {
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .conteudoDash {
        flex-direction: column;
        justify-content: flex-start;
        height: fit-content;
        margin-bottom: 100px;
    }

    .conteudoGraficos {
        min-height: 400px;
    }
}