.botaoo {
  background-color: #696969; /* vermelho */
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
}