body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}

@font-face {
    font-family: "Montserrat";
    src: url(assets/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat B";
    src: url(assets/Montserrat/static/Montserrat-Bold.ttf);
}