.main {
    width: 100%;
    height: 100%;
}

.divButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15%;
}

.divGrafico {
    width: 85%;
    height: 85%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 50px;
    height: 50px;
}