* {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    filter: brightness(100%); /*Necessário para blackout no popup*/
    padding-bottom: 50px;
}

.barraFiltros {
    width: 90vw;
    height: 10vh;
    align-self: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bigBoxData {
    display: flex;
    width: 25%;
    min-width: 350px;
    height: 100%;
    align-items: flex-end;
    margin: 10px 10px 10px 5px;
}

.boxData {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    align-items: flex-end;
}

.data {
    width: 48%;
}

.boxSelect {
    /* width: 20; */
    margin: 17.5px 10px 10px 5px;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.selectCampo {
    width: 100px;
    /* margin: 0 2px 10px 2px; */
}

.formSelectItens {
    width: 200px;

}

.boxConfirmarFiltros {
    margin-top: 5px;
    height: 65px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-self: flex-start;
}

.barraAcoes {
    width: 95vw;
    /* height: 5vh; */
    align-self: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 0;
}

.boxButton {
    margin: 17.5px 0 10px 0;
    display: flex;
}

.divTabela {
    width: 90vw;
}

.body {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.popupRegistro {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.blackout {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.popupWindow {
    width: 80%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 8%;
}



.tituloPopup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Montserrat B";
}

.barraPopup {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.button {
    height: 98%;
}

.boxImagem {
    width: 50px;
    height: 50px;
}

.btnPaginas {
    width: 300px;
}

.btnCancelarPopup {
    width: 30%;
    min-width: 100px;
    display: flex;
    justify-content: flex-end;
}

.btnConfirmarPopup {
    align-self: flex-end;
    justify-self: flex-end;
    height: 55px;
    display: flex;
    padding-top: 50px;
    width: 60%;
    justify-content: space-between;
}

.selectsPopup {
    width: 60%;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxTituloTabela {
    display: flex;
}

.tituloTabela {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .popupWindow {
        width: 85%;
        height: 60%;
        display: flex;
        flex-direction: column;
        padding: 20px;

    }

    .selectsPopup {

        min-width: none;
    }
}